/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
  font-size: 1.2em;
}

nav li {
  padding: 0 10px;
  font-size: 1.2em;
  cursor: pointer;
}

li:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 20px 0 40px 0;
}

.filter__btn {
  background-color: white;
  color: #1d6154;
  padding: 9px 15px;
  border: solid 1px #1d6154;
  border-radius: 60px;
  margin: 0 10px;
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  font-size: 16px;
}

.filter__btn:focus,
.filter__btn:hover,
.filter__btn.active {
  background-color: #1d6154;
  color: white;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
  min-height: 491px;
  object-fit: cover;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* ajout de style pour la page de connexion */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 150px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.form__txt__input {
  margin: 10px 0;
  padding: 10px;
  width: 380px;
  height: 35px;
  border: 1px #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form__txt__label {
  display: block;
  text-align: left;
  width: 95%;
}

.form__btn {
  cursor: pointer;
}

.mdp__oublie {
  color: #3d3d3d;
}

.form__input--error {
  border: 3px solid #c70000;
  color: #c70000;
}

/* ajout de style pour le mode édition si le token est valide */

.edit__mode {
  display: none;
}

.fa-pen-to-square {
  margin-right: 5px;
  color: white;
}

body.edit_mode_on header {
  margin-top: 70px;
}

body.edit_mode_on .edit__mode {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 15px;
  font-size: 14px;
  font-weight: 400;
}

body.edit_mode_on .portfolio__header a {
  font-size: 14px;
  color: black;
  display: flex;
  margin-left: 10px;
  text-decoration: none;
}

.portfolio__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.portfolio__header a {
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
}

.portfolio__header i {
  color: black;
}

.logout__btn {
  font-size: 1.2em;
  color: black;
  text-decoration: none;
  padding: 0 10px;
}

.logout__btn:hover {
  font-weight: bold;
}

/* ci-dessous se trouve le syle de la modale */

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 630px;
  max-height: 700px;
  padding: 20px;
  background-color: #fff;
  overflow: auto;
  border-radius: 10px;
}

.modal__header {
  position: relative;
  margin-top: 20px;
}

.modal__header h2 {
  color: black;
  font-family: "Work Sans";
  font-weight: 400;
  margin: 40px 0;
}

.closer {
  position: absolute;
  top: 0px;
  right: -200px;
  font-size: 25px;
  cursor: pointer;
}

.modal__works {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 20px 0;
}

.modal__works figure {
  position: relative;
}

.modal__works figure img {
  width: 77px;
  height: 100px;
}

.modal__works__delete {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  border: 1px solid black;
  background-color: black;
  border-radius: 2px;
  padding: 3px;
  cursor: pointer;
  font-size: 10px;
  z-index: 10;
}

.modal__break {
  display: block;
  overflow: visible;
  width: 56%;
  border: 1px solid #b3b3b3;
  margin: 20px 0;
  background-color: #b3b3b3;
}

.modal__add__btn {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  padding: 10px;
  margin: 30px;
  height: 36px;
  width: 237px;
  text-align: center;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}

.modal__add__form form {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.backBtn {
  position: absolute;
  top: 0px;
  right: 350px;
  font-size: 25px;
  cursor: pointer;
}

.image__selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 20px 0;
  width: 420px;
  height: 170px;
  background-color: #e8f1f6;
}

.image__selector p {
  font-size: 10px;
}

.image__selector img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image__icon {
  font-size: 70px;
  color: #b9c5cc;
}

#image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.file__label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cbd6dc;
  color: #306685;
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
}

.modal__add__form select {
  width: 400px;
  height: 51px;
}

.modal__break__add {
  display: block;
  overflow: visible;
  width: 100%;
  border: 1px solid #b3b3b3;
  margin: 20px 0;
  background-color: #b3b3b3;
}

.btn__form__input {
  display: flex;
  margin: 10px;
  padding: 10px;
  width: 380px;
  height: 35px;
  border: 1px #ffffff;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

.display__none {
  display: none;
}
